{{#if selectedBill}}
  {{bill-details bill=selectedBill}}
{{else}}
  Click a bill to display details!<br>
  :)<br><br>
{{/if}}
<hr>
{{#each bills as |bill|}}
  <strong>{{bill.bill_id}}</strong>: <em>{{bill.short_title}}</em><br>
  Last version issued on {{bill.last_version_on}}<br>
  <button {{action 'details' bill}}>Details</button><hr>
{{/each}}
